
@font-face {
    font-family: 'Young Serif';
    src: url(./assets/YoungSerif-Regular.ttf)
}

@font-face {
    font-family: 'Nunito Sans';
    src: url(./assets/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

body {
    background: url('./assets/noaa-kcvlb727mn8-unsplash.jpg') no-repeat center fixed;
    background-size: cover;
    font-family: 'Nunito Sans';
    color: rgb(241, 241, 176);
}

button {
    padding: 0;
    position: absolute;
    right: 0.1rem;
}

button img {
    height: 100%;
}

input {
    height: 100%;
    width: 100%;
}


#content {
    display: grid;
    grid-template-rows: 10% 45% 5% 40%;
    grid-template-columns: 45% 10% 45%;
    grid-template-areas: 
        "search search search"
        "today today today"
        "weathergap weathergap weathergap"
        "tomorrow gap dayafter";
    height: 80vh;
    width: 75vw;
    margin: auto;
}

#current-temp, #current-icon {
    display: inline;
    margin: auto;
    font-size: 1.4rem;
}

#current-condition {
    margin: 0;
    font-size: 1.5rem;
}


#input-container {
    text-align: center;
    grid-area: search;
    display: flex;
}

#location-container {
    margin-top: 1rem;
    margin-left: 1rem;
    width: 50%;
    font-size: 2rem;
}

#location-country {
    font-size: 1.5rem;
}

#location-form {
    height: 50%;
    width: 40%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
}

#location-name, #location-region {
    display: inline;
}
.tmrw-dayafter-condition {
    grid-area: condition;
}

#today-conditions {
    height: 100%;
}

#today-conditions-top {
    display: flex;
}

#today-hourly-forecast {
    display: flex;
    justify-content: space-around;
    height: 50%;
}

#today-location-conditions, #today-other-info {
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

#today-location-conditions {
    display: flex;
    justify-content: space-between;
}

#today-other-info {
    padding-right: 1rem;
    padding-top: 1rem;
    text-align: end;
}

#today-other-info p {
    width: 50%;
    margin: 0;
}



#today-top-container {
    display: flex;
    height: 50%;
    width: 100%;
}

#today-weather, #tomorrow-weather, #dayAfter-weather {
    backdrop-filter: blur(30px);
    border: 2px solid rgb(99, 156, 241);
}

#today-weather {
    grid-area: today;
}


#tomorrow-weather {
    grid-area: tomorrow;
}

#dayAfter-weather {
    grid-area: dayafter;
}

.high-low {
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.hourly-icon {
    height: 4rem;
    width: 4rem;
}

.hourly-temp {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.todayHour {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: end;
}

.todayHour :last-child, .hourly-temp {
    margin: 0;
}

.tmrw-dayafter-condition {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;
}

.tmrw-dayafter-date {
    grid-area: date;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

.tmrw-dayafter-high, .tmrw-dayafter-low {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.tmrw-dayafter-high p, .tmrw-dayafter-low p {
    margin-bottom: 0;
    text-align: center;
    font-size: 1.5rem;
}

.tmrw-dayafter-rain {
    font-size: 1.4rem;
    margin: 0;
    align-self: end;
}

.tmrw-dayafter-temp {
    font-size: 2rem;
    margin: 0;
    align-self: end;
}

.tmrw-dayafter-top-container {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 60% 30%;
    grid-template-areas:
        "date date date"
        "icon temp percipitation"
        "condition . .";
    justify-items: center;
}

.tmrw-dayafter-top-container img {
    /* height: 7rem; */
    height: 120%;
}



